<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/d∂td/mybatis-3-mapper.dtd">
<mapper namespace="com.platform_analysis.pa.repository.System.LogInMapper">
    <select id="checkLogIn" resultType="com.platform_analysis.pa.model.RequestDTO.System.UserDTO">
        SELECT * FROM PA_USER_MAS U
            WHERE 1 = 1
                AND U.EMAIL = #{EMAIL}
                AND U.PASSWORD_HASH = #{PASSWORD_HASH}
    </select>

    <select id="checkDuplicateUserInfo" resultType="int">
        SELECT COUNT(EMAIL) FROM PA_USER_MAS U
            WHERE 1 = 1
                AND U.EMAIL = #{EMAIL}
    </select>
</mapper>